#smallcap{
    font-variant:small-caps;
}

#italsmallcap{
    font-variant:small-caps;
    font-style:italic;
}

#red{
    color:red
}

#smallcapred{
    font-variant:small-caps;
    color:red
}

#italicred{
    font-style:italic;
    color:red
}

#italic{
    font-style:italic;
}

#bold{
    font-weight:bold;
}

#blackletter{
    font-family:"Mathematica6 Bold", "Old English Text MT", "Engravers Old English BT", 
"Old English", "Collins Old English", "New Old English";
}

#super{
    font-size:.83em;
    vertical-align:super;
}

#sub{
    font-size:.83em;
    vertical-align:sub;
}

#row-label{
    font-weight:bold;
    text-align:right;
    vertical-align:text-top;
}

#column-head{
    font-weight:bold;
}

td{
    padding:6px;
    border: double 1px gray
}

td.top
{
   border-bottom: none;
}

td.middle
{
   border-bottom: none;
   border-top: none;
}

td.bottom
{
   border-top: none;
}

td.default
{
    padding:6px;
    border: double 1px gray
}

table{
    border: double 1px gray;
    border-collapse:collapse; 
    empty-cells: show
}

hr {
    border-width: 3px;
    border-color:white;
    color: gray;
}

h2.default{
text-align: center;
}

h2.center{
text-align: center;
}

p{
text-align: center;
}

